@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 110px;
  height: 110px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 480px;
  width: 480px;
}

.mySwiper {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 110px !important;
  height: 110px;
  opacity: 0.4;
}

.mySwiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-free-mode.swiper-watch-progress.mySwiper.swiper-backface-hidden.swiper-thumbs {
  margin: 0;
}

.swiper.swiper-initialized.swiper-horizontal.mySwiper2.swiper-backface-hidden {
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  background-color: #fff;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin: 0 12px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 13px !important;
  font-weight: 800;
}
